<h2>Корзина</h2>

<% if session[:in_cart] != nil %>

    <% @products.each do |product| %>
        <% if @amount[product.id - 1] > 0 %>
            <p>Название: <%= product.title %></p>
            <p>Цена: <%= product.price %>$</p>
            <% @sum += product.price %>
            <br>
        <% end %>
    <% end %>

    <p>Итого: <%= @sum %>$</p>
    <% session[:total] = @sum %>

    <br>
    <p><%= link_to 'Очистить корзину', clear_path %></p>
    <p><%= link_to 'Оплатить', checkouts_path %></p>
<% else %>
    <p>В вашей корзине нет товаров!</p>
    <br>
<% end %>

<p><%= link_to 'Назад', products_path %></p>
