<h2>Корзина</h2>

<% if session[:in_cart] != nil %>

    <% cart_products = @products.select { |product| @amount[product.id - 1] > 0} %>

    <% i = 0 %>
    <% cart_products.each do |product| %>
            <% @sum += product.price %>
        <% if i % 6 == 0 %>
            <div class="row">
        <% end %>
        <div class="col-sm-2 product">
            <a href="<%= url_for product %>">
                <img src="/products/<%= product.id %>.png">
                <p class="catalog-product-name"><%= product.title %><br>
                <span class="catalog-price">(<%= number_to_currency product.price, unit: "грн.", format: "%n %u", delimiter: " " %>)</span></p>
            </a>
        </div>
        <% i += 1 %>
        <% if i % 6 == 0 or i == cart_products.length %>
            </div>
        <% end %>
    <% end %>

    <% session[:total] = @sum %>
    <h4>Итого: <%= number_to_currency session[:total], unit: "грн.", format: "%n %u", delimiter: " " %></h4>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p><a href="<%= url_for clear_path %>" class="btn btn-danger cart-btn">Очистить корзину</a></p>
            <p><a href="<%= url_for checkouts_path %>" class="btn btn-success cart-btn">Оплатить</a></p>
        </div>
    </div>

<% else %>

    <h3>Ваша корзина пуста. Выберите товары <%= link_to 'здесь', products_path %>.</h3>

<% end %>

<p class="text-center"><%= link_to 'Назад', products_path %></p>
