<h1>Cart</h1>

<% if session[:in_cart] != nil %>

    <% @products.each do |product| %>
        <% if @amount[product.id - 1] > 0 %>
            <p>Name: <%= product.title %></p>
            <p>Price: <%= product.price %>$</p>
            <% @sum += product.price %>
            <br>
        <% end %>
    <% end %>

    <p>Total: <%= @sum %>$</p>
    <% session[:total] = @sum %>

    <br>
    <p><%= link_to 'Clear cart', clear_path %></p>
    <p><%= link_to 'Checkout', checkouts_path %></p>
<% else %>
    <p>Your cart is empty!</p>
    <br>
<% end %>

<p><%= link_to 'Back', products_path %></p>
