<h2>Оплата</h2>

<p>Итого: <%= session[:total] %>$</p>

<%= form_for @username do |form| %>
    <p><%= form.label @username %></p>
    <%= form.text_field @username %>
    <br>
    <p><%= form.submit 'Олпатить'%></p>
<% end %>