<h2>Каталог продукции</h2>

<div class="container-fluid">
<% if @buy_list != nil %>
    <h4>Уже куплено:</h4>
    <% i = 0 %>
    <% tmp_buy_list = @buy_list.select { |element| element.to_i > 0 } %>
    <% tmp_buy_list.each do |element| %>
        <% if element.to_i > 0 %>
            <% if i % 6 == 0 %>
                <div class="row">
            <% end %>
            <div class="col-sm-2 product">
                <a href="<%= url_for @products[element - 1] %>">
                    <img src="/products/1.png">
                    <p><%= @products[element - 1].title %></p>
                </a>
            </div>
            <% i += 1 %>
            <% if i % 6 == 0 or i == tmp_buy_list.length %>
                </div>
            <% end %>
        <% end %>
    <% end %>
<% end %>
</div>

<div class="container-fluid">
<% if @view != nil %>
    <h4>Доступные товары:</h4>
    <% i = 0 %>
    <% @view_list = @products.select { |product| product.id == @view[product.id - 1] }.sort_by do |element| %>
        <% element[:views] %>
    <% end %>
    <% @view_list.reverse! %>

    <% @view_list.each do |product| %>
        <% if i % 6 == 0 %>
            <div class="row">
        <% end %>
        <div class="col-sm-2 product">
            <a href="<%= url_for product %>">
                <img src="/products/1.png">
                <p><%= product.title %></p>
            </a>
        </div>
        <% i += 1 %>
        <% if i % 6 == 0 or i == @view_list.length %>
            </div>
        <% end %>
    <% end %>
<% end %>
</div>

<div class="container-fluid">
<% if @cart != nil %>
    <h4>Добавлено в корзину:</h4>
    <% i = 0 %>
    <% tmp_cart = @cart.select { |element| element.to_i > 0 } %>
    <% tmp_cart.each do |element| %>
        <% if element.to_i > 0 %>
            <% if i % 6 == 0 %>
                <div class="row">
            <% end %>
            <div class="col-sm-2 product">
                <a href="<% url_for @products[element - 1] %>">
                    <img src="/products/1.png">
                    <p><%= @products[element - 1].title %></p>
                </a>
            </div>
            <% i += 1 %>
            <% if i % 6 == 0 or i == tmp_cart.length %>
                </div>
            <% end %>
        <% end %>
    <% end %>
<% end %>
</div>