<h2>Информация о продукте</h2>

<p>Название: <%= @product.title %></p>
<p>Цена: <%= @product.price %>$</p>
<p>Просмотры: <%= @product.views %></p>
<br>

<h4>Также покупают:</h4>
    <% if session[:buy_prev] != nil %>
        <% session[:buy_prev].each do |element| %>
            <p><%= element %></p>
        <% end %>
    <% end %>
<br>

<h4>Также просматривают:</h4>

<br>

<h4>Также добавляют в корзину:</h4>

<br>

<% if @bought == false %>
    <% if @remove %>
        <p><%= link_to 'Убрать из корзины', clear_path %></p>
    <% else %>
        <p><%= link_to 'Добавить в корзину', edit_product_path %></p>
    <% end %>
<% end %>

<p><%= link_to 'Назад', products_path %></p>