<h2>Product info</h2>

<p>Name: <%= @product.title %></p>
<p>Price: <%= @product.price %>$</p>
<p>Views: <%= @product.views %></p>
<br>

<h4>Buy with</h4>
    <% if session[:buy_prev] != nil %>
        <% session[:buy_prev].each do |element| %>
            <p><%= element %></p>
        <% end %>
    <% end %>
<br>

<h4>View with</h4>

<br>

<h4>Add to cart with</h4>

<br>

<h4>Graph structure</h4>
<br>

<% if @bought == false %>
    <% if @remove %>
        <p><%= link_to 'Remove', clear_path %></p>
    <% else %>
        <p><%= link_to 'Add to cart', edit_product_path %></p>
    <% end %>
<% end %>

<p><%= link_to 'Back', products_path %></p>